      

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav a:hover {
    background-color: #555;
}

nav li.active a {
    background-color: #4CAF50;
    color: white;
}




.container {

    display: grid;
    grid-template-columns: 1fr 1.1fr 0.9fr;
    grid-template-rows: 0.1fr 1fr 0.1fr 3fr 0.2fr ;
    grid-template-areas:
    "gvsa  gvsa  gvsa"
    "intruduction intruduction intruduction"
    "links links links"
    "about picture picture"
    "moreinfo moreinfo moreinfo"
    ;
}


.gvsa {
    grid-area: gvsa;
    background-color: rgb(26, 171, 238);
    gap: 0.1em;
}
.intruduction {
    grid-area: intruduction;
    background-color: rgb(82, 129, 230);
    gap: 0.3em;
}
.links {
    grid-area: links;
    background-color: rgb(41, 105, 224);
    gap: 0.2em;
}
.about {
    grid-area: about;
    background-color: rgb(62, 94, 161);
    gap: 0.5em;
}
.picture {
    grid-area: picture;
    background-color: rgb(28, 98, 163);
    gap: 0.3em;
}
.moreinfo {
    grid-area: moreinfo;
    background-color: rgba(44, 55, 212, 0.705);
    gap: 0.4em;
}